{%extends 'base.html'%}

{% block page%}
<h1 class='page-header' align='center'> Our vision <h1>
<hr>
{%endblock%}


{%block main%}


<div class="container">
<div class="row">
<div class="col-md-12">

<p align='center'><h5><small>
    <ul>
        <li>Our vision is to become the most sought after brand throughout the federation.</li>
        <li>We want to eradicate different skin problems in adults and young ones.</li>
        <li>We visualise every home being happy using Rareluxeproducts.</li>
    </ul>
    </small></h5></p>

<hr>

</div>
</div>
</div>
<!--<h1 class='page-header' align='center' > Team members<h1>-->

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

      <div class="media">
        <div class="media-left media-top">
          <img class ="media-object" src="{{url_for('static', filename='img/nike.jpeg')}}" width='200' height='200' class="mr-3" alt="...">
        </div>
        <div class="media-body">
          <h2 class="media-heading" ><font color="#F012BE">CEO</font></h2>
          <p><h5><small> Experienced in making quality soap</small></h5></p>
        </div>
      </div>

      <hr>
      <div class="clearfix"> </div>

      <div class="media">
        <div class="media-left media-top">
          <img class ="media-object" src="{{url_for('static', filename='img/Yusiro.jpeg')}}" width='200' height='200' class="mr-3" alt="...">
        </div>
        <div class="media-body">
          <h2 class="media-heading" ><font color="#F012BE">Medical specialist</font></h2>
          <h5><small> Medical doctor with 30 years of experience both in public and private sector. Work internationally
            in the USA, Canada, UK, South Africa and Nigeria</small></h5></p>
        </div>
      </div>

      <hr>
      <div class='clearfix'></div>
    </div>
  </div>
</div>


{%endblock%}







