{%extends 'base.html'%}

{% block page%}
<h1 class='page-header' align='center'> Our vision <h1>
<hr>
{%endblock%}


{%block main%}


<div class="container">
<div class="row">
<div class="col-md-12">

<p align='center'><h4><small>
    <ul>
        <li> Help to apply deep learning to everyday life</li>
        <li>Solving very difficult problems with Machine Learning</li>
        <li>Making our customer to be have with our services</li>
    </ul>
    </small></h4></p>

<hr>

</div>
</div>
</div>
<!--<h1 class='page-header' align='center' > Team members<h1>-->


  <div class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>

{%endblock%}







