{%extends 'base.html'%}


{% block page%}
<h1  align='center'> Contact us <h1>
<hr>
{%endblock%}

{%block main%}

<div class="container" align="center">
    <div class="row">

        <div class="col-lg-6 col-sm-3 col-xs-3">
            <div class="gmap_canvas"><iframe width="450" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=Walthamstow%20centre&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        <div class="col-md-4">
                <p><h5><small>You can contact us anyday anytime.</small></h5></p>
                <p><h5><small>Tel: +447405829144</small></h5></p>
                <p><h5><small>Email: ogunleyeadeola7@gmail.com</small></h5></p>
        </div>
    </div>
</div>
<hr>
<div class=clearfix></div>

{%endblock%}
